<h2 class="judul">Perolehan Suara Sementara Desa {$dataDesa->nama_desa}</h2>
<div class="col-centered" style="text-align: center">
<label>Penduduk Laki-Laki : <b style="color: green;">{$dataDesa->penduduk_l}</b> </label>
<label>Penduduk Perempuan : <b style="color: green;">{$dataDesa->penduduk_p}</b> </label>
<label>Daftar Pemilih Tetap Laki-Laki : <b style="color: green;">{$dataDesa->dpt_l}</b> </label>
<label>Daftar Pemilih Tetap Perempuan : <b style="color: green;">{$dataDesa->dpt_p}</b> </label>
</div>
<div class="panel panel-default col-md-10 col-centered col-sm-12">
	<div class="panel-body">
		<div class="chart-container" style="">
			<canvas id="barChart"></canvas>
		</div>
	</div>
	<div class="row">
	    <div class="col-md-12">
		{$class = ""}
		{$row = 0}
		{if $jumlahCades == 2}
			{$class = "col-md-6"}
		{elseif $jumlahCades == 3}
			{$class = "col-md-4"}
		{elseif $jumlahCades > 3}
			{$row = 4}
			{$class = "col-md-3"}
		{/if}
		{$i = 1}
		<div class="row">
			{foreach from=$dataAll key=$field item=$value}
			<div class="{$class} text-centered">
				<div class="panel panel-default">
					<h4 class="chart-title">{$value->no_urut}. {$value->nama_cades}</h4>
					<img src="{assets_url()}uploads/images/{$value->foto_cades}" class="foto-chart"><br>
					<h4>Total Suara : <label style="color:#2A7FFF;">{$value->jumlah_suara}</label></h4>
					<h4>Presentase : <label style="color:#FF552A;">{$value->presentase|round:2}%</label></h4>
				</div>
			</div>
			{if $row == 4 && $i == 4}
				</div><div class="row">
			{/if}
			{$i = $i+1}
			{/foreach}
		</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel-group" id="accordion">
				{$i=0}
				{foreach from=$dataTps key=$field item=$value}
				<div class="panel panel-default">
					<div class="panel-heading title-tps">
						<button data-toggle="collapse" href="#collapse{$i}" data-parent="#accordion" class="btn btn-sm btn-default pull-right" type="button"><i class="fa fa-minus"></i></button>
						<h3 class="panel-title">{$value->nama_tps}</h3>
					</div>
					<div id="collapse{$i}" class="panel-collapse collapse">
						{foreach from=$value->dataCades key=$field2 item=$value2}
						<div class="panel-body">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-3 text-centered">
										<img src="{assets_url()}uploads/images/{$value2->foto_cades}" style="max-height: 60px;"><br>
									</div>
									<div class="col-md-9">
										<p>{$value2->no_urut}. {$value2->nama_cades}</p>
										<div class="progress">
										  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:{$value2->presentase}%">
												{$value2->presentase|round:2}%<!--<span class="sr-only"> </span> -->
										  </div>
										</div>
									</div>
								</div>
								<div class="row">
								</div>
						  	</div>
						</div>
						{/foreach}
						<div class="panel-footer">
							<h4>Suara Tidak Sah : {$value->jumlahSuaraTidakSah}</h4>
						</div>
					</div>
				</div>
				{$i=$i+1}
				{/foreach}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var ctx = document.getElementById('barChart').getContext('2d');
	// console.log('{$dataAllEncoded}');
  	let dataChartEncoded = '{$dataAllEncoded}';
	let dataChart = JSON.parse(dataChartEncoded);
	let label = [];
	let dataset = [];
	let i = 0
  	for (let key in dataChart) {
  		label[i] = dataChart[key].no_urut + ". " + dataChart[key].nama_cades;
  		dataset[i] = dataChart[key].jumlah_suara;
  		i++;
  	}

	var opt = {
		  maintainAspectRatio: false,
	  title: {
	    display: true,
	    text: 'Perolehan Suara',
	    position: 'top',
	    fontSize:16,
	  },
	  hover: {
	      animationDuration: 0
	  }, 
	  scales: {
	    xAxes:[{
	    	ticks: {
	            stepSize: 1,
	            min: 0,
	            autoSkip: false
	          },
	        gridLines: {
	          display:false
	        }
	    }],
	    yAxes:[{
	      ticks: {
	          suggestedMin: 0
	      },
	      stacked:true
	    }]
	  }
	};
	var dataOption = {
	    type: 'bar',
	    data: {
	         labels: label,
	          datasets: [
	            {
	              label: "Jumlah Suara",
	              backgroundColor: "rgba(255,99,132,1)",
	              borderColor: "rgba(255,99,132,1)",
	              borderWidth: 2,
	              hoverBackgroundColor: "rgba(200,99,132,1)",
	              hoverBorderColor: "rgba(255,99,132,1)",
	              data: dataset
	            }
	          ]
	    },
	    options: opt
	};
	var chart = new Chart(ctx, dataOption);
</script>